# Visual Studio artifacts
.vs/
bin/
obj/

# Visual Studio Code artifacts
.vscode/

# Rider IDE artifacts
.idea/

# Application logs
Logs/

# Tests
/Tests/**/.TestResults/

# Code coverage
/Tests/**/.CodeCoverageResults/

# SonarQube scanner artifacts
.sonarqube/
