# Visual Studio artifacts
.vs/
bin/
obj/

# Visual Studio Code artifacts
.vscode/

# Rider IDE artifacts
.idea/

# Application logs
Logs/

# Tests
/Tests/**/.TestResults/
/Tests/**/TestResults/

# Code coverage
/Tests/**/.CodeCoverageResults/
/Tests/**/coverage.opencover.xml

# SonarQube scanner artifacts
.sonarqube/

# Linux artifacts
/Sources/Todo.WebApi/mono_crash.mem.*

