version: '3.8'

services:
  aspnet-core-logging-dev:
    container_name: aspnet-core-logging-dev-db
    image: postgres:12-alpine
    restart: unless-stopped
    volumes:
      - aspnet-core-logging-dev_data:/var/lib/postgresql/data
    ports:
      - "5432:5432/tcp"
    networks: 
      - local_postgresql
    environment:
      - POSTGRES_USER=${DB_DEV_POSTGRES_USER}
      - POSTGRES_PASSWORD=${DB_DEV_POSTGRES_PASSWORD}
      - POSTGRES_DB=aspnet-core-logging-dev

  aspnet-core-logging-it:
    container_name: aspnet-core-logging-it-db
    image: postgres:12-alpine
    restart: unless-stopped
    volumes:
      - aspnet-core-logging-it_data:/var/lib/postgresql/data
    ports:
      - "5433:5432/tcp"
    networks: 
      - local_postgresql
    environment:
      - POSTGRES_USER=${DB_IT_POSTGRES_USER}
      - POSTGRES_PASSWORD=${DB_IT_POSTGRES_PASSWORD}
      - POSTGRES_DB=aspnet-core-logging-it

  pgadmin:
    container_name: pgadmin-ui
    image: dpage/pgadmin4:4.23
    restart: unless-stopped
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    ports:
      - "8080:80/tcp"
    networks:
      - local_postgresql
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_DEFAULT_EMAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_DEFAULT_PASSWORD}
    depends_on:
      - aspnet-core-logging-dev
      - aspnet-core-logging-it

volumes:
  aspnet-core-logging-dev_data:
    external: true
  aspnet-core-logging-it_data:
    external: true
  pgadmin_data:
    external: true

networks:
  local_postgresql:
