<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <packageSources>
        <clear />
        <!--
            Use a custom feed hosted by Azure DevOps Artifacts.
            See more about setting up such feed here: https://docs.microsoft.com/en-us/azure/devops/artifacts/get-started-nuget?view=azure-devops.
            
            In order to publish NuGet packages to this feed, use Azure CLI and run 'az artifacts unviversal publis command'.
            See more about this command here: 
            https://docs.microsoft.com/en-us/cli/azure/artifacts/universal?view=azure-cli-latest#az-artifacts-universal-publish.
            
            Once all NuGet packages used by this application have been published, you can comment the official NuGet feed 
            below and let only this one active - this will ensure that package restoration will use Azure Artifacts only.
        -->
        <add key="Azure Artifacts"
             value="https://pkgs.dev.azure.com/satrapu/aspnet-core-logging/_packaging/nuget-packages/nuget/v3/index.json" />

        <!--
            The official NuGet feed.
        -->
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    </packageSources>
</configuration>