<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <packageSources>
        <clear />
        <!--
            Use a custom feed hosted by Azure DevOps Artifacts: 
            https://dev.azure.com/satrapu/aspnet-core-logging/_packaging?_a=feed&feed=nuget-feed-v2.
            
            See more about setting up such feed here: 
            https://docs.microsoft.com/en-us/azure/devops/artifacts/get-started-nuget?view=azure-devops.
            
            See more about publishing a NuGet package to such feed here: 
            https://github.com/NuGet/Home/issues/7792#issuecomment-631683878.
               
            Once all NuGet packages used by this application have been published, you can comment the official NuGet feed 
            below and let only this one active - this will ensure that package restoration will use Azure Artifacts only.
        -->
        <add key="nuget-feed-v2"
             value="https://pkgs.dev.azure.com/satrapu/aspnet-core-logging/_packaging/nuget-feed-v2/nuget/v3/index.json"
             protocolVersion="3" />

        <!--
            The official NuGet feed.
            
            satrapu 2020-05-20: This feed has been commented out since the one hosted by Azure Artifacts has been 
            correctly setup.
        -->
        <add key="nuget.org"
             value="https://api.nuget.org/v3/index.json" 
             protocolVersion="3" />
    </packageSources>
</configuration>